<div id="components-reconnect-modal" class="components-reconnect-hide">
    <div class="show"><p>Trying to reconnect...</p></div>
    <div class="failed"><p>Could not reconnect. <button onclick="location.reload()">Reload</button></p></div>
    <div class="rejected"><p>Connection rejected. <button onclick="location.reload()">Reload</button></p></div>
</div>
